{% extends 'requirements_tracker/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body_block %}

<!-- New project view code goes here -->

<form role="form" method="post" action="/requirements_tracker/project/{{ project_name_url }}/add_task/">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
				{{ field.errors }}
                {{ field.help_text}}
                {{ field }}
	<br></br>
            {% endfor %}
   <button type="submit" class="btn btn-success">Submit</button>
  
</form>


{% endblock %}

{% block javascript %}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script>
$(function() {
	$('#id_due_date').datepicker({ minDate: 1, dateFormat: "dd/mm/yy"});
});
</script>
{% endblock %}